/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */

   body {
    background-color: black;
    color: white;
    font-family: 'Courier New', monospace;
    margin: 0px auto;
    width: 90%;
  }
  
  @keyframes flicker {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
      text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #0fa,
        0 0 80px #0fa,
        0 0 90px #0fa,
        0 0 100px #0fa,
        0 0 150px #0fa;
    }
    20%, 24%, 55% {       
      text-shadow: none;
    }
  }
  
  h1 {
    animation: flicker 2.5s infinite alternate;     
  }
  
  html {
   background-image: url('images/testing.jpg'); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

nav {
    border-bottom: 1px solid black;
    border-top: 4px solid black;
}

li {
  display: inline;
  float: left;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-shadow:
  0 0 4px #fff,
  0 0 11px #fff,
  0 0 19px #fff,
  0 0 40px #0fa,
  0 0 80px #0fa,
  0 0 90px #0fa,
  0 0 100px #0fa,
  0 0 150px #0fa;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}